@font-face {
    font-family: 'SuperPixel';
    src: url('assets/SuperPixel-m2L8j.ttf') format('truetype');
}  

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.preloader h1 {
    font-family: 'SuperPixel';
    font-size: 5rem;
    color: white;
    opacity: 1;
    transition: opacity 1s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader img {
    width: 200px;
    height: 200px;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.fade-out {
    opacity: 0;
}

body {
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    font-family: 'SuperPixel';
    font-size: 5rem;
    margin: 1rem;
}

.btn {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 8px solid white;
    margin: 1.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: red;
}

.green {
    background-color: rgb(7, 176, 7);
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.flash {
    background-color: white;
}
  
.userflash {
    background-color: white;
}

.how-to-play-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    display: none;
    z-index: 1001;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.dialog-content {
    text-align: center;
}

.dialog-content h2 {
    margin-bottom: 10px;
}

.dialog-content p {
    margin-bottom: 20px;
}

.dialog-content button {
    background-color: #007bff;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.warning-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    display: none;
    z-index: 1002;
    background-color: red;
    color: white;
    border: 2px solid white;
}

.warning-content {
    text-align: center;
}

.warning-content h2 {
    margin-bottom: 10px;
}

.warning-content p {
    margin-bottom: 20px;
}

.warning-content button {
    background-color: white;
    color: red;
    padding: 8px 16px;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
}


@media screen and (max-width: 1200px) {
    .btn {
        width: 250px;
        height: 250px;
        border-width: 8px;
        margin: 1rem;
    }

    h2 ,h3 {
        font-size: 2rem;
    }

    .preloader h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    
    h1 {
        font-size: 3rem;
    }

    h2 ,h3 {
        font-size: 1.5rem;
    }

    .btn {
        width: 150px;
        height: 150px;
        border-width: 6px;
        margin: 0.5rem;
    }

    .preloader h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 3rem;
    }

    .dialog-box {
        width: 70%;
    }

    .warning-box {
        width: 70%;
    }
}